nav{
  background: #000 !important;
  ul{
    text-transform: uppercase;
  }

  .nav-item{
    padding-left: 1em ;
  }
}


.carousel-item{
  height: 450px;
  h2{
    color: #fff !important;
  }


}
.carousel-img-1{
  background: url("../img/image1.jpeg");
  background-size: cover;
}
.carousel-img-2{
  background: url("../img/image2.jpeg");
  background-size: cover;
}
.carousel-img-3{
  background: url("../img/image3.jpeg");
  background-size: cover;
}

#home-icon{
  i{
    font-size: 4rem;
    padding: 1rem 0;
  }
}
#get-sec{
  background: url("../img/bg1.jpeg") center center;
  background-size: cover;
  background-attachment: fixed;

  .dark-overlay{
    background-color: rgba(0, 0, 0, 0.7);
  }

}
#video-sec{
  background: url("../img/people.jpeg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .dark-overlay{
    background-color: rgba(0, 0, 0, 0.7);

  }
  .fa{
    font-size: 5rem;
    color: red;
  }
}

#gallery{
  img{
    min-height: 300px;
  }
}

#newsletter{

}
.modal{
  i{
    color: orange;
  }
}
#footer{
  background: #000;
}

/* About section ########################## */
#header{
  background: url("../img/image1.jpeg") center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .dark-overlay{
    background: rgba(0, 0, 0, 0.7);
  }

}
#do{
  img{
    height: 450px;
    width: 450px;
  }
}
#icon-info{
  i{
    font-size: 4.5rem
  }
  h3{
    color: #fff;
  }
}
/* services######################### */

#services-header{
  background: url("../img/pc.jpeg") center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .dark-overlay{
    background: rgba(0, 0, 0, 0.7);
  }
}



@media(max-width:991px){
  #gallery{
    img{
      min-height: 150px;
      }
    }
    #do{
      img{
        height: 350px;
        width: 350px;
      }
    }
}

@media(max-width: 768px){
  .navbar{
    .nav-item{
      padding-left: 0 !important;
    }
  }
  #contact{
    h3{
      font-size: 1.5rem;
      background: blue;
      padding: .3rem .1rem;
      color: white;
      border-radius: .2rem;
    }
  }

}
@media(max-width: 480px){
  .carousel-caption{
    margin-top: 10rem !important;
    padding-bottom: 2rem;
    h2{
      font-size: 2.5rem;
    }

  }
}
@media(max-width: 400px){
  #testimonial{
    .blockquote{
      p{
          font-size: 1rem;
      }
    }
  }
  #contact{
    h3{
      padding: .5rem .5rem;
    }
  }

}
